<h2>New Pokemon</h2>

<form action="/pokemons" method="post" >
  <p>NAME<input type="text" name="pokemon[name]"></p>
  <p>CP<input type="text" name="pokemon[cp]"></p>
  <p>POKETYPE<input type="text" name="pokemon[poke_type]"></p>
  <input type="submit" value="Create">
</form>
