<h2>New Trainer</h2>

<form action="/trainers" method="post" >
  <p>NAME<input type="text" name="trainer[name]"></p>
  <p>LEVEL<input type="text" name="trainer[level]"></p>
  <p>TEAM ID<input type="text" name="trainer[team_id]"><p>
  <input type="submit" value="Create">
</form>
